:root {
  --blue: rgb(16, 88, 196);
  --black: #181a1b;
  --image-radius: 8px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

html,
body,
.App {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  position: relative;
  z-index: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul.flex > li {
  padding: 0 0.35rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: var(--blue);
}

/* utilities classes */

.flex {
  display: flex;
}

.sticky {
  position: sticky;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.full {
  width: 100%;
}

.p-1 {
  padding: 1rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.py-6 {
  padding: 6rem 0;
}

.pb-1 {
  padding: 0 0 1rem 0;
}

.pb-2 {
  padding: 0 0 2rem 0;
}

.pr-1 {
  padding: 0 1rem 0 0;
}

.pr-3 {
  padding: 0 3rem 0 0;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.ml-auto {
  margin: 0 0 0 auto;
}

.mt-auto {
  margin: auto 0 0 0 !important;
}

.mb-auto {
  margin: 0 0 auto 0 !important;
}

.mr-1 {
  margin-right: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-5 {
  margin: 1rem 0;
}

.round-1 {
  border-radius: 5px !important;
}

.text-red {
  color: red;
}

.text-blue {
  color: var(--blue);
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: var(--black);
}

.fs-1 {
  font-size: 2.75rem;
}

.fs-3 {
  font-size: 2.25rem;
}

.fs-5 {
  font-size: 1.75rem;
}

.fs-6 {
  font-size: 1.5rem;
}

.fs-7 {
  font-size: 1.25rem;
}

.fs-9 {
  font-size: 0.75rem;
}

.fs-10 {
  font-size: 0.5rem;
}

.fw-1 {
  font-weight: bolder;
}

.fw-3 {
  font-weight: 800;
}

.fw-5 {
  font-weight: 500;
}

.opacity-1 {
  opacity: 1 !important;
}

.no-select {
  user-select: none;
}

.z-minus {
  z-index: -10;
}

.z-20 {
  z-index: 20;
}

/* specific classes */

.form-success {
  background-color: #4ed36d;
  border-color: #c3e6cb;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.35rem 0;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-around;
}

.form-failure {
  background-color: #d34e4e;
  border-color: #c3e6cb;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.35rem 0;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-around;
}

.form {
  max-width: 400px;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-input {
  border: 0;
  border-bottom: 1px solid var(--black);
  outline: none;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  padding: 0 0.25rem;
}

.form-textarea {
  outline: none;
  border: 1px solid var(--black);
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  resize: vertical;
  padding: 0.25rem;
}

.form-textarea:focus {
  border: 2px solid var(--blue);
}

.form-input:focus {
  border-bottom: 2px solid var(--blue);
}

.navbar-list {
  position: absolute;
  opacity: 0;
  transition: 400ms ease-in-out;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  color: white;
  transform: translateX(100%);
  z-index: 10;
}

.navbar-list > div {
  margin-left: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-list > div > * {
  padding: 1rem;
}

.navbar-list > div > * > a {
  padding: 1rem;
}

.navbar-list.active {
  transform: translateX(0);
  opacity: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: relative;
}

.navbar {
  max-width: 100%;
  width: 100%;
  animation: nav-bar 300ms ease;
  position: sticky;
  top: 0;
}

.qualification {
  background: var(--black);
  color: white;
  animation: qualification 500ms ease 4s forwards;
  transform: translateX(-1000rem);
  user-select: none;
}

.icon-container > a {
  margin: 0.5rem;
}

.icon-container > a > * {
  margin: 0.5rem;
  cursor: pointer;
  width: 17px;
  height: 17px;
}

.icon-footer-container > a {
  margin: 1rem;
}

.icon-footer-container > a > * {
  cursor: pointer;
  width: 45px;
  height: 45px;
  opacity: 0.35;
}

.icon-footer-container > a > *:hover {
  opacity: 1;
}

.tooltip > svg {
  width: 56px;
  height: 56px;
}

.unix {
  padding: 4px;
}

.image-container {
  max-width: 650px;
  max-height: 380px;
  height: 380px;
  width: 650px;
  box-shadow: 10px 10px rgb(20, 20, 20);
  border-bottom-left-radius: var(--image-radius);
  border-bottom-right-radius: var(--image-radius);
  overflow: hidden;
  transition: 500ms ease;
  position: relative;
}

.image-container > div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide-left-enter {
  transform: translateX(-100%);
}

.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 400ms ease;
}

.slide-left-exit {
  transform: translateX(0%);
}

.slide-left-exit-active {
  transform: translateX(100%);
  transition: transform 400ms ease;
}

.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transform: translateX(0%);
  transition: transform 400ms ease;
}

.slide-right-exit {
  transform: translateX(0%);
}

.slide-right-exit-active {
  transform: translateX(-100%);
  transition: transform 400ms ease;
}

.hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.87);
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  padding: 1rem;
  transition: 300ms ease;
  word-wrap: break-word;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.hover-container {
  position: relative;
  height: 100%;
}

.hover-container:hover .hover {
  left: 0;
  opacity: 1;
}

.top-bar {
  display: flex;
  align-items: center;
  background-color: rgb(223, 220, 220);
  width: 100%;
  height: 30px;
  font-size: 0.95rem;
  border-top-left-radius: var(--image-radius);
  border-top-right-radius: var(--image-radius);
}

.top-bar-right > span {
  margin: 0 0.3rem;
}

.bullet-container {
  position: absolute;
  bottom: 0;
}

.left-arrow,
.right-arrow {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
  font-size: 2rem;
  margin: 0 1rem;
  top: 50%;
}

.left-arrow:hover,
.right-arrow:hover,
.bullet:hover {
  opacity: 1;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.bullet {
  opacity: 0.4;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

.icon-container > *:hover {
  fill-opacity: 0.5 !important;
}

.disappear {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.appear {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.btn-outline,
.btn-outline-black {
  border-radius: 5px;
  background-color: inherit;
  border: 1px white solid;
  color: white;
  padding: 0.25rem 0.75rem;
  transition: 200ms ease;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.btn-outline-black {
  background-color: white !important;
  color: var(--black) !important;
  border: 1px var(--black) solid;
}

.btn-outline-black:hover {
  background-color: var(--black) !important;
  color: white !important;
}

.btn-outline:hover {
  background-color: white;
  color: black;
}

.btn,
.btn-blue {
  border-radius: 5rem;
  background-color: white;
  color: black;
  border: 1px black solid;
  cursor: pointer;
  padding: 0.25rem 1rem;
  transition: 200ms;
  user-select: none;
  -webkit-user-select: none;
}

.btn-blue {
  background-color: var(--blue) !important;
  color: white !important;
  border: 1px var(--blue) solid !important;
}

.btn:hover {
  background-color: var(--black);
  color: white;
}

.btn-blue:hover {
  background-color: red !important;
  border: 1px red solid !important;
}

/* button from https://getcssscan.com/css-buttons-examples */

.button-49,
.button-49:after {
  background: var(--blue);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Source code';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* hamburger */

.navbar-toggle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar-toggle-inside {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  background-color: black;
}

.navbar-toggle-inside::before,
.navbar-toggle-inside::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.navbar-toggle-inside.active {
  transform: translateX(-50px);
  background-color: transparent;
}

.navbar-toggle-inside.active::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: red;
}

.navbar-toggle-inside.active::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: red;
}

.navbar-toggle-inside::before {
  transform: translateY(-8px);
}

.navbar-toggle-inside::after {
  transform: translateY(8px);
}

/* text animation */

.typewriter,
.typewriter2 {
  position: relative;
  z-index: 0;
}

.typewriter::before,
.typewriter::after,
.typewriter2::before,
.typewriter2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewriter::before,
.typewriter2::before {
  background-color: white;
}

.typewriter::before {
  animation: typewriter 3s ease forwards;
}

.typewriter2::before {
  animation: typewriter 2s ease forwards 1.75s;
}

/* tooltip */

.tooltip {
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0 0.5rem;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 7px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translateY)) scale(var(--scale));
  transition: transform 150ms ease;
  transform-origin: bottom center;
  background-color: var(--black);
}

.tooltip::before {
  --translateY: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  font-size: 0.75rem;
  color: white;
  padding: 0.125rem 0.5rem;
  border-radius: 8px;
  white-space: nowrap;
}

.tooltip::after {
  --translateY: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  background-color: inherit;
  border-top-color: var(--black);
  transform-origin: top center;
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

/* animation */

@keyframes nav-bar {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter2 {
  to {
    left: 100%;
  }
}

@keyframes qualification {
  0% {
    transform: translateX(-100rem);
  }
  100% {
    transform: translateX(0%);
  }
}

/* media */

@media (max-width: 768px) {
  .nav-bar {
    padding: 1rem 0;
  }
  .image-container {
    height: 60vw;
    width: 90%;
  }
  .container {
    padding: 0 0.5rem;
  }
  .logo {
    display: none;
  }
  .image {
    height: 100%;
    object-fit: cover;
  }
  .container.py-4 {
    padding: 4rem 0.5rem;
  }
  .arrow {
    opacity: 0;
    z-index: 10;
  }
  .arrow:hover {
    color: var(--blue);
  }
}

@media (max-width: 428px) {
  .hover-text {
    display: none;
  }
  .top-bar {
    font-size: 0.75rem;
    text-align: center;
  }
  .button-container {
    font-size: 0.75rem;
  }
  .tag {
    font-size: 0.75rem;
  }
  .form-text {
    font-size: 1rem;
  }
}

@media (max-width: 288px) {
  .qualification {
    margin: 1rem;
    padding: 1rem 0;
  }
  .text {
    text-align: start;
  }
  .image-container {
    height: 70vw;
  }
  .tag {
    display: none;
  }
  .top-bar {
    font-size: 0.6rem;
    text-align: center;
  }
  .button-container {
    font-size: 0.5rem;
  }
  .form-text {
    font-size: 0.75rem;
  }
}
